@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-principal-color: var(--principal-color);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060606;
    --background-secondary: rgba(6, 6, 6, 0.72);
    --principal-color: #f1f3f4;
    --secondary-color: #9aa0a6;
    --objects-background: #f1f3f414;
    --objects-border: #f1f3f429;
  }
}

body {
  background: var(--background);
  color: var(--principal-color);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

@keyframes gradient1 {
  0% {
    transform: translate(-10%, -100%);
  }
  50% {
    transform: translate(-20%, -95%);
  }
  100% {
    transform: translate(-40%, -90%);
  }
}

@keyframes gradient2 {
  0% {
    transform: translate(-10%, -95%);
  }
  50% {
    transform: translate(-20%, -80%);
  }
  100% {
    transform: translate(-40%, -75%);
  }
}

.header_gradient {
  animation: gradient2 10s ease-in-out infinite alternate;
  aspect-ratio: 1;
  background: radial-gradient(circle, #4285f4 0%, rgba(66, 133, 244, 0) 70%);
  border-radius: 50%;
  left: -20%;
  mix-blend-mode: plus-lighter;
  position: absolute;
  top: 55vh;
  width: 100%;
  scale: 1 0.555;
  transform: translateY(-50%);
}

.header_gradient:nth-child(2) {
  background: radial-gradient(
    circle,
    rgba(234, 67, 53, 0.8) 0%,
    rgba(234, 67, 53, 0) 70%
  );
  left: 25%;
  top: 45vh;
  scale: 1 0.555;
}

.header_gradient:nth-child(3) {
  background: radial-gradient(
    circle,
    rgba(253, 214, 99, 0.8) 0%,
    rgba(253, 214, 99, 0) 70%
  );
  left: 60%;
  top: 40vh;
  scale: 1 0.555;
}

.header_gradient:nth-child(4) {
  background: radial-gradient(circle, #5ff587 0%, rgba(95, 245, 135, 0) 70%);
  left: 95%;
  top: 38vh;
  scale: 1 0.555;
}

@media (min-width: 768px) {
  .header_gradient {
    animation: gradient1 10s ease-in-out infinite alternate;
  }
}
